$black: #020202;
$light: #f8f9fa;
$primary-green-light: #0fd35c;
$primary-green: #11aba2;
body {
  background-color: rgba(16, 20, 20, 0.99);
  // font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
nav {
  font-weight: 700;
  font-size: 16px;
  @media only screen and (max-width: 400px) {
    font-size: 0.8rem;
  }
}
.navbar-dark {
  background: black;
  opacity: 0.6;
}
@import "_home.scss";
@import "_section-head.scss";
@import "_projects.scss";
@import "_skills.scss";
@import "_contact.scss";
